<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <style>
        .form3{
            margin-left: 5em;
            margin-top: 2.5em;
            padding-top: 0em;

        }
        .heading{
            margin-left: 5em;
            margin-top: 4em;
            padding-bottom: 0em;
        }
    </style>
</head>
<body>
    <%- include('navbarBeforeLogin.ejs') %> 
    <div class="heading">
        <h2>LOGIN</h2>
    </div>
    <div class="form3">
        <form action="/patient/login" method="post">
            <div class="col-sm-7">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            </div>
            
           
            <div class="col-sm-7">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          </div>
          <script>
            if('geolocation' in navigator){
            console.log('geolocation available')
        }
        navigator.geolocation.getCurrentPosition(function(position){
           let lat=(position.coords.latitude)
            let lon=(position.coords.longitude)
            const data={lat,lon}
        const options={
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify(data)
        }
        fetch('/getLocation/patient',options)
        })
        
        </script> 
    
</body>
</html>